<hr />

<div class="item-story-comment">
		<label for="textarea"></label>
		<Input
			class="story-comment-textarea text-input"
			name='textarea'
			size=80
			disabled=true
			placeholder="Log in or sign up to leave a comment..."
		/>
		<button class="comment-btn" disabled=true type="button">Comment</button>
	{{!-- <div class="item-story-comments">
	</div> --}}
</div>