<div class="navbar">
	<span class="navbar-links">
		<Header />
	</span>
	<span class="navbar-links nav-title">
		HackerNews
	</span>
	<span class="navbar-links nav-login">
		<LinkTo 
			id='login-tab'
			class="navbar-tabs"
			@route="login"> 
				Login 
			<FaIcon
				@icon="user-circle"
			/>
		</LinkTo>
	</span>
</div>
