<div class="navbar">
	<span class="navbar-links nav-logo">
		<Header />
		<span class="navbar-links nav-title">
			HackerNews
		</span>
	</span>
	<span class="navbar-links nav-search">
		<SearchBar 
			@inputSize=60
		/>
	</span>
	<span class="navbar-links nav-login">
		<LinkTo 
			id='login-tab'
			class="navbar-tabs"
			@route="login"> 
				Login 
			<FaIcon
				@icon="user-circle"
			/>
		</LinkTo>
	</span>
</div>
