<div class="post-items-icons post-info post-type-comment">
	<span class="view-comments">		
		<LinkTo
			@route="item"
			@query={{hash itemType=@postType id=@post.id}}
			>	
			<FaIcon 
               @icon="comment"
               class="fas"
            />
        </LinkTo>
	</span>
	<span class="post-score-span">
   		{{format-number @post.descendants}} 
   </span>
</div>