<div class="post-items-icons post-info post-type-time">
	{{#if @post.by}}
		<span class="post-time-span">
	   		<FaIcon
				@icon="clock" 
			/>
	   	</span>
	  	<span>
	  		{{#if @formatDate}}
	  			{{format-date @post.time}}
	  		{{/if}}
	  		{{#unless @formatDate}}
	  			{{format-time @post.time}}
	  		{{/unless}}
	  	</span>
	{{/if}}
</div>
