<div id="searchbar-icon" class="searchbar">
	<FaIcon
		@icon="search"
	/>
</div>
<div id="search-bar" class="searchbar">
	<Input 
		@type="text"
		id="search-bar-input"
		placeholder="Search HackerNews..."
		size=50
		/>
</div>	
