{{page-title "Login"}}
<Navbar 
	@viewingRoute="Login"
/>
<div class="login-and-signup">
	<LoginInfo 
		@titleText="Login"
		@inputTypeUsername="text"
		@inputTypePassword="password" 
		@buttonText = "login"
		@text="Returning to HackerNews? Login!"
		/>
		{{!-- <hr /> --}}
	<LoginInfo 
		@titleText="Sign Up"
		@inputTypeUsername="text"
		@inputTypePassword="password" 
		@buttonText = "register"
		@text="New to HackerNews? Sign up!"
		/>
</div>